<%- include('../layouts/header') %>
<div class="row">
    <h1 class="title text-center">Edit a Campground</h1>
    <div class="col-6 offset-3">
        <form class="form" action="/campgrounds/<%= camp._id %>?_method=PUT" method="POST" novalidate enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" name="campground[title]" id="title" value="<%= camp.title %>">
                <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" name="campground[location]" id="location" value="<%= camp.location %>">
                <div class="valid-feedback">Looks good!</div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="price">Campground Price</label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">$</span>
                    <input type="text" name="campground[price]" id="price" class="form-control" aria-describedby="price-label" placeholder="0.00" value="<%= camp.price %>">
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" name="campground[description]" id="description"><%= camp.description %></textarea>
                <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Add Images</label>
                <input class="form-control" type="file" id="image" name="image" multiple>
              </div>
              <div class="mb-3">
                <% camp.images.forEach(function(img, i) { %>
                    <img class="img-thumbnail" src="<%= img.url %>" alt="uploaded photo">
                    <div class="form-check-inline">
                        <input name="deleteImages[]" value="<%= img.filename %>" type="checkbox" id="image-<%= i %>">
                    </div>
                    <label for="image-<%= i %>">Delete?</label>
                    <% }) %>
              </div>
            <button class="btn btn-info">Update Campground</button>
        </form>
    </div>
</div>
    
    <%- include('../layouts/footer') %>